
<div class="row">
    <div id="container"  style="min-height: 250px; width: 100%"></div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="btn-group" style="width: 100% !important;" role="group" aria-label="Basic example">
            <button type="button" (click)="onChangeChartType(1)" style="width: 100% !important;" class="btn btn-secondary">Çizgi</button>
            <button type="button" (click)="onChangeChartType(2)" style="width: 100% !important;" class="btn btn-secondary">Kutu</button>
          </div>
    </div>
    <div class="col-md-4"></div>
</div>